<!DOCTYPE html>
<html lang = "en-US">
 <head >
 <meta charset = "UTF-8">
 <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amatic+SC">
 <link rel = "stylesheet"
   type = "text/css"
   href = "./static/base.css" />
 </head>
<body style="background-color: #FFF3CE;background-image:url('./static/yellow_green_mirror.jpg');background-repeat:no-repeat;background-size:cover;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;color: #4C8941;text-shadow: 1.5px 1.5px #FFF3CE ">
  {% extends 'bootstrap/base.html' %}
 
  {% block title %}
      {% if title %}  {{ title }} ❥ Bella{% else %}Bella{% endif %}
  {% endblock %}
 
  {% block navbar %}
      <nav class="navbar nav-tabs nav-justified" style="font-family: 'Lato', sans-serif">
          <div class="container">
              <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="{{ url_for('index') }}" >Bell❥</a>
              </div>
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" >
                  <ul class="nav navbar-nav">
                      <li><a href="{{ url_for('index') }}" >Home</a></li>
                      <li><a href="{{ url_for('customer') }}">Customer</a></li>
                      <li><a href="{{ url_for('business') }}">Business</a></li>
                  </ul>
                  <ul class="nav navbar-nav navbar-right">
                      <li><a href="{{ url_for('me') }}">About Me</a></li>
                  </ul>
              </div>
          </div>
      </nav>
  {% endblock %}
 
  {% block content %}
      <div class="container" style="font-family: 'Lato', sans-serif" style="background-color: #FFFFFF; color: #4C8941;">
          {% with messages = get_flashed_messages() %}
          {% if messages %}
              {% for message in messages %}
              <div class="alert alert-info" role="alert">{{ message }}</div>
              {% endfor %}
          {% endif %}
          {% endwith %}
  
          {# application content needs to be provided in the app_content block #}
          {% block app_content %}{% endblock %}
      </div>
  {% endblock %}
</body>
</html>